html, body {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    /* background-color: pink; */
    font-size: 3rem;
    padding: 1rem 3rem;
    border-bottom: 3px solid black;
}

.margin {
    margin-left: 2rem;
}
.margin-desc {
    margin-left: 3.23rem;
}

button {
    display: inline-block;
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;
}

#main {
    /* background-color: aqua; */
    height: 80vh;
}

.flex-area {
    display: flex;
}

.check-task-area {
    gap: 2rem;
    cursor: pointer;
}

.title-area{
    display: flex;
    justify-content: space-between;
}

.date {
    font-size: .8rem;
}

.checkbox {
    border-radius: 100%;
}

#project-area {
    /* background-color: green; */
    height: 100%;
    flex: 1;
    padding-bottom: 2rem;
    text-align: center;
    border-right: 3px solid black;
}

.project-container {
    display: flex;
    justify-content: center;
    padding: 2rem 2rem;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    cursor: pointer;
}

.project-check-area{
    display: flex;
    flex-direction: column;
}

.project-confirm-delete-area{
    padding-top: 1rem;
    display: flex;
    justify-content: space-around;
}

.project-item {
    
}

#task-area{
    flex: 3;
}

#tasks {
    padding-top: 1rem; 
}

#addbtn, #addbtnproj {
    font-size: 1rem;
    padding: .5rem .75rem;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 5px;
}

.task-container {
    flex-direction: column;
    padding: 1rem 4rem;
}

.potential-task-container {
    flex-direction: column;
}
.potential-first-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.potential-second-line {
    display: flex;
    justify-content: space-between;
    margin-left: 3.25rem;
    padding-top: 1.3rem;
}

#crudbtn{
    padding: .5rem 4rem;
    display: flex;
    justify-content: flex-start;
}

.completed-item{
    text-decoration: line-through;
    color: rgb(148, 148, 148);
}

.description-container {
    display: flex;
    justify-content: space-between;
    /* padding-top: 2rem; */
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.description-item{
    font-size: .8rem;
    padding-top: 1.5rem;
}

.delete-edit-area {
    padding-top: 1.5rem;
}

input {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
}